DATABASE_URL=postgresql://postgres.[project]:[password]@aws-[aws-region].pooler.supabase.com:5432/postgres
AUTH_DATABASE_URL=postgresql://postgres.[project]:[password]@aws-[aws-region].pooler.supabase.com:5432/postgres
