services:
  db:
    image: postgres:17
    container_name: postgres_db
    restart: unless-stopped

    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: kb-db

    volumes:
      - postgres_data:/var/lib/postgresql/data

    ports:
      - "5432:5432"

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d kb-db"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:

  